:root {
    --bg: #F5E8B7;
    --text1: #A73121;
    --highlight: #FAF1E4;
    --text2:#FFB000;
    --link: #C08261;
    --link-highlight: #6000c0;
}
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
body { /* tag */ /*centered everything*/
    background-color: var(--bg);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* dinna va henta fra en boilerplate, og funka fint (: */
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
h1 { /* tag */
    text-align: center;
    color: var(--text1);
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
}
p { /* tag */
    color: var(--text2);
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
a { /* tag */
    color: var(--link);
    text-decoration: none;
    font-weight: bold;
}
a:hover { /* tag */
    color: var(--link-highlight);
}
