:root {
    --bg: #0174BE;
    --text1: #ffff00;
    --highlight: #f7eddf;
    --text2:rgb(153, 184, 67);
    --link: #ffff00;
    --link-highlight: #8000ff;
}
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
body { /* tag */ /*centered everything*/
    background-color: var(--bg);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* dinna va henta fra en boilerplate, og funka fint (: */
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
h1 { /* tag */
    text-align: center;
    color: var(--text1);
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
}
p { /* tag */
    color: var(--text2);
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
a { /* tag */
    color: var(--link);
    text-decoration: none;
    font-weight: bold;
}
a:hover { /* tag */
    color: var(--link-highlight);
}
nav {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    background-color: var(--bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar_logo { /* id */
    color: var(--text1);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
}
.navbar_links { /* id */
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.navbar_item a { /* class */
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color:  var(--text1);
  }

.navbar_item a:hover{
    color: var(--bg);
    text-decoration: none;
  }
.navbar_item:hover{
    background-color: var(--text1);
    text-decoration: none;
  }